article{
 display: flex;
 flex-wrap:wrap;
 flex-direction:column;
 width:285px;
 height: max-content;
 font-family:Arial, Helvetica, sans-serif;
 border: 2px solid lightgray;
 border-radius: 5px;
 overflow: hidden;
}

.visual{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    width: inherit;
    aspect-ratio: 16 / 10;
    background-color: #90989f;
    color: white;
}

.line{
    display: flex;
    flex-direction:row;
    align-items: center ;
    padding:5%;
    border-top: 2px solid lightgray;
}

.body-copy{
    padding:0% 5% 5% 5%;
}

p{
    margin: 0px 0px;
    font-size: 1.rem;
    line-height: 150%;
}

h5{
    margin: 5% 0px;
    font-size: 1.3rem;
    font-family:Arial, Helvetica, sans-serif;
}

.visual p{
 transform: translateX(-5%);
 font-size: 1.4rem;
}

.footer{
    display:flex;
    padding:5% 1% 0% 5%;
    gap: 8%;
    border-top: 2px solid lightgray;
}

a{
    color:rgb(33, 115, 237);
    
}