body{
    display:flex;
    overflow:hidden
}

#green{
    display:flex;
    flex: 2;
    order: 3;
}

#yellow{
    display:flex;
    flex-direction: column;
    flex: 2.5;
    order: 1;
}

#red{
    display:flex;
    flex-direction: column;
    flex:2.5;
    order: 2;
}



#orange{
    display:flex;
    flex:8;
    order: 4;
}

#blue{
    display:flex;
    flex:1.5;
    order: 5;
}
